<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Calendar
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddEvent()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onLogOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div (swipe)="swipe($event)">
        <ion-calendar #calendar [events]="currentEvents | async" (onDaySelect)="onDaySelect($event)"></ion-calendar>
      </div>
    </ion-card-content>
  </ion-card>
  <div *ngIf="(selected && selected.data) as data">
    <ion-card *ngFor="let event of data">
      <ion-card-header>
        {{event.user.name}}: {{event.title}}
      </ion-card-header>
      <ion-card-content>
        {{event.message}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
