<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Calendar
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onAddEvent()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onLogOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div (swipe)="swipe($event)">
        <ion-calendar #calendar [events]="currentEvents | async" (onDaySelect)="onDaySelect($event)"></ion-calendar>
      </div>
    </ion-card-content>
  </ion-card>
  <div *ngIf="selected">
    <ion-card *ngFor="let event of selected">
      <ion-card-header>
        <ion-item class="header no-padding" no-lines>
          <span item-start>
            {{event.data.user.name}}: {{event.data.title}}
          </span>
          <button item-end ion-button small color="dark" *ngIf="user == event.data.user.name">
            <ion-icon name="create"></ion-icon>
          </button>
          <button item-end ion-button small color="dark" *ngIf="user == event.data.user.name">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        {{event.data.message}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
